<head>
	<title>Ultimate TicTacToe with Video Chat</title>
	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
</head>
<body>
	<div id = "mainContainer">
		{{renderPage}}
	</div>
</body>

<template name= "indexTemplate">
<div id="container" class="container-fluid">
		<div class="row-fluid">
			<div id="main-window" class="span9">
				{{> headerTemplate}}
				<div id="game" style= "height: 402px;">
					<a id="start-game" href="/create" class="btn btn-success">Create Game!</a>
				</div>
			</div>	
			<div id="sidebar" class="span3">
				{{>leaderboardsTemplate}}
			</div>
		</div>
	</div>
</template>
